PTIT_USERNAME=
PTIT_PASSWORD=
TARGET_URL=

DB_PASSWORD=
SUPABASE_URL=
SUPABASE_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Môi trường chạy backend (local hoặc production)
ENVIRONMENT=

# Frontend URL để chuyển hướng sau khi xác thực thành công
FRONTEND_URL=